@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h3 class="page-message"><error-message type="@Response.StatusCode"></error-message></h3>

@if (Model.ShowDetails)
{
    <pre>@Model.ExceptionMessage</pre>
}