@page
@model Vivelin.Web.Home.Pages.TestModel
@{
    ViewData["Title"] = "Text test";
}

<p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit. Cras faucibus quis mauris in efficitur. In hac habitasse platea dictumst. Mauris varius lorem at scelerisque interdum. <strong>Sed a eros</strong> non turpis maximus fringilla vitae vel mauris. Cras pharetra purus tortor, at vestibulum nunc tempor ut. Duis aliquet eget ipsum vitae tristique. Nulla eu tortor sapien. Nunc porta mi nulla, et lacinia enim congue consectetur. Donec sit amet aliquam libero, in laoreet diam. Etiam pretium ut urna eu dictum. Maecenas quis commodo enim. Etiam nec consectetur tortor. Suspendisse ac ullamcorper leo.</p>

<p>Morbi maximus, magna at cursus volutpat, mi nibh viverra dui, eget tempor lacus nibh nec ligula.</p>

<ol>
    <li>Orci varius natoque penatibus et magnis dis parturient montes</li>
    <li>nascetur ridiculus mus</li>
    <li>Pellentesque sit amet lacus sed diam dapibus facilisis sit amet sit amet nisl</li>
</ol> 

<p>Sed finibus venenatis leo vel <a href="/test">accumsan</a>. Integer rutrum eu ante ut fringilla. <em>Quisque vulputate urna nec nisl molestie efficitur.</em> Nunc vehicula nibh ligula, vel tempor orci semper ac. Donec ac mauris enim. In hac habitasse platea dictumst. Quisque quis nulla eget nulla ullamcorper suscipit vitae a massa. Vestibulum sollicitudin ullamcorper feugiat.</p>

<aside>
    <p>Also, this.</p>
</aside>

<p>Ut facilisis, lectus ac cursus sodales, justo dui vulputate nulla, vel interdum ante mi vitae risus. Praesent id justo tellus. Fusce ut justo id lacus vehicula <a href="#">facilisis</a>. Nunc sodales, nulla sit amet eleifend imperdiet, velit nibh scelerisque eros, vel varius ante ligula a urna. Mauris tincidunt enim non volutpat faucibus. Fusce ullamcorper, erat sit amet fringilla dictum, quam odio aliquam sem, eu consectetur nisl urna eget ipsum. Sed vitae urna nec tortor congue pellentesque. Mauris a suscipit mi. Aenean a ex enim. Pellentesque ac dolor cursus, euismod urna vel, ornare sapien. Donec turpis neque, efficitur eget mi in, ornare consequat justo. Quisque euismod lacinia magna at venenatis. Vivamus laoreet finibus odio. Vestibulum nec nisi mi.</p>

<p>Duis tristique ac libero non consequat. Mauris aliquam sapien non nunc tempor mollis. Praesent sodales sit amet lectus ac accumsan. Morbi mi dui, hendrerit vitae nunc sit amet, aliquam vestibulum est. Suspendisse sodales sed diam a interdum. Morbi egestas pharetra ornare. Nulla ornare quis nisl vel dignissim. Praesent aliquet magna ac diam condimentum, vel cursus lacus scelerisque. Vivamus tempor nibh id urna convallis, et sagittis diam ullamcorper.</p>

<p>Sed vitae quam quis lacus scelerisque suscipit. Integer maximus pulvinar purus ac fermentum. Duis fermentum rhoncus blandit. Phasellus mattis libero justo, vel porttitor libero euismod faucibus. Donec blandit nisi ligula, eu convallis sem maximus id. Praesent mi sem, sodales dictum purus eu, semper elementum dolor. Aliquam scelerisque tortor orci, nec elementum turpis consectetur eu. Sed ac nisl at enim egestas tristique ut dapibus metus. Vivamus porttitor metus id pretium dignissim. Praesent eu lobortis augue. Duis risus arcu, pretium eget vulputate non, scelerisque eget sapien. Mauris ultricies mi eu diam placerat, id suscipit metus venenatis. Nulla laoreet lacus sed purus rhoncus, id commodo sapien scelerisque. Phasellus lorem neque, posuere sed nunc nec, vulputate commodo eros. Donec lacinia enim et egestas tempor. Fusce maximus purus sed mi vehicula, ac auctor mauris imperdiet.</p>
