.code-point {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: .5rem;
  padding: 4px;

  background-color: var(--page-background-secondary);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  font-family: var(--ui-font);
  font-size: 1rem;
}

  .code-point .display {
    display: inline-block;
    grid-row: span 2;
    height: 3rem;
    width: 3rem;

    background-color: var(--page-background-contrast);
    border-radius: 4px;
    color: var(--page-text-contrast);
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
  }

  .code-point .name q {
    font-weight: 700;
  }