<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vivelin.net</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;600;700&family=Literata:ital,wght@0,400;0,700;1,400&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="page-header">
        <p class="site-title"><a href="/"><img class="inline avatar" src="~/images/avatar.png" />Vivelin.net</a></p>
        <nav>
            <ul>
                <li><a href="/test">Test</a></li>
                <li><a href="/admin/quotes">Quotes</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
