@page "{id:int?}"
@model Vivelin.Web.Home.Pages.Admin.Quotes.CreateModel

<h1>@ViewData["Title"]</h1>

<form class="main" method="post">
    <div asp-validation-summary="ModelOnly" class="error-message"></div>

    <div>
        <p><label asp-for="Quote.Text">Quote:</label></p>
        <textarea asp-for="Quote.Text"></textarea>
        <p><span asp-validation-for="Quote.Text" class="error-message"></span></p>
    </div>
    <aside>
        <p>This supports Markdown!</p>
        <p>&lt;Preview goes here&gt;</p>
    </aside>

    <div>
        <p><label asp-for="Quote.Author">Author (optional):</label></p>
        <input asp-for="Quote.Author" />
        <p><span asp-validation-for="Quote.Author" class="error-message"></span></p>
    </div>
    <aside>
        <p>The author of the work that contains the quote, or the person that says it.</p>
    </aside>

    <div>
        <p><label asp-for="Quote.Source">Source:</label></p>
        <input asp-for="Quote.Source" />
        <p><span asp-validation-for="Quote.Source" class="error-message"></span></p>
    </div>
    <aside>
        <p>The source of the quote, e.g. the title of a book or name of a video game.</p>
    </aside>

    <div>
        <p><label asp-for="Quote.SourceHref">Source URL (optional):</label></p>
        <input type="url" asp-for="Quote.SourceHref" />
        <p><span asp-validation-for="Quote.SourceHref" class="error-message"></span></p>
    </div>
    <aside>
        <p>A link to the source or a video showing the quote.</p>
    </aside>

    <div>
        <p><label asp-for="Quote.Publisher">Publisher (optional):</label></p>
        <input asp-for="Quote.Publisher" />
        <p><span asp-validation-for="Quote.Publisher" class="error-message"></span></p>
    </div>

    <div>
        <p><label asp-for="Quote.PageNumber">Page number (optional):</label></p>
        <input asp-for="Quote.PageNumber" />
        <p><span asp-validation-for="Quote.PageNumber" class="error-message"></span></p>
    </div>

    <div>
        <p><label asp-for="Quote.PublicationYear">Publication year (optional):</label></p>
        <input asp-for="Quote.PublicationYear" />
        <p><span asp-validation-for="Quote.PublicationYear" class="error-message"></span></p>
    </div>

    <p>
        <input type="submit" value="@( Model.IsNew ? "Add" : "Save" )" />
        <a asp-page="Index" class="link-button">Cancel</a>
    </p>
</form>