@page
@model Vivelin.Web.Home.Pages.Admin.Quotes.IndexModel

@{
    ViewData["Title"] = "Quote management";
}

<h1>Quote management</h1>

<p>
    <a asp-page="Edit" class="link-button">Add new quote</a>
</p>

@foreach (var item in Model.Quote)
{
    <h2>Quote #@item.Id</h2>
    <component type="typeof(Vivelin.Web.Home.Shared.QuoteDisplay)"
               render-mode="Static"
               param-Quote="item" />
    <aside>
        <p>
            <a asp-page="./Edit" asp-route-id="@item.Id" class="link-button">Edit</a>
            <a asp-page="./Delete" asp-route-id="@item.Id" class="link-button warning">Delete</a>
        </p>
    </aside>
}
