@page
@model Vivelin.Web.Home.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<ul>
    <li><a asp-page="SMZ3">SMZ3 Cas’ Randomizer</a> is a more casual fork of the 
        original <a href="https://samus.link" target="_blank" rel="nofollow">SMZ3 Randomizer</a>.</li>
</ul>

<h2>See also</h2>
<ul>
    <li>The <a asp-page="Code">coding guidelines</a> and conventions I use in my projects.</li>
</ul>