@page
@model Vivelin.Web.Home.Pages.Projects.SMZ3Model
@{
    ViewData["Title"] = "SMZ3 Cas’ Randomizer";
}

<pre markup-language="CommonMark">
# SMZ3 Cas’ Randomizer
    
The <b>SMZ3 Cas’ Randomizer</b> is a fork of the original [Super Metroid & A 
Link to the Past Crossover Randomizer](https://samus.link/). It’s aimed at making 
it a more approachable and casual experience by removing some decidedly 
<i>uncas’</i> elements such as <dfn><abbr title="Infinite Bomb Jump">IBJ</abbr></dfn>. 

## Features
In addition to making IBJ completely optional, there is also:

 - Item Quickswap in <cite>A Link to the Past</cite> based on a [contribution] 
   that never made it in;
 - Sprites made by members of [Diabetus’](https://twitch.tv/the_betus) community:

   <div class="image-gallery pixelart">
       <img src="/images/smz3/sm-novolin.png" 
               alt="Captain Novolin in Super Metroid" 
               title="Captain Novolin in Super Metroid, made by PaddyCo">
       <img src="/images/smz3/z3-novolin.png" 
               alt="Captain Novolin in A Link to the Past" 
               title="Captain Novolin in A Link to the Past, made by Fragger">
       <img src="/images/smz3/sm-rash.png" 
               alt="Rash in Super Metroid" 
               title="Rash in Super Metroid, made by Fragger">
   </div>

The <b>Cas’ Randomizer</b> is currently in active development and can be found 
on GitHub at [Vivelin/SMZ3Randomizer](https://github.com/Vivelin/SMZ3Randomizer).

[contribution]: https://github.com/tewtal/alttp_sm_combo_randomizer_rom/pull/55
</pre>
