@page
@model Vivelin.Web.Home.Pages.Projects.SMZ3Model
@{
    ViewData["Title"] = "SMZ3 Cas’ Randomizer";
}

<pre markup-language="CommonMark">
# SMZ3 Cas’ Randomizer

> “This is the cas'est version of the rando you’ll ever see.” \
>— Diabetus, 2021
    
The <b>SMZ3 Cas’ Randomizer</b> is a fork of the original [Super Metroid & A 
Link to the Past Crossover Randomizer](https://samus.link/). It’s aimed at making 
it a more approachable and casual experience by removing some decidedly 
<i>uncas’</i> elements such as <dfn><abbr title="Infinite Bomb Jump">IBJ</abbr></dfn>. 

A Windows installer for latest version of the <b>SMZ3 Cas’ Randomizer</b> can be 
found on the [GitHub releases] page.

## Features
In addition to making IBJ completely optional, there is also:

 - Integrated voice-enabled item & location tracker;
 - Built-in MSU-1 support for custom music packs;
 - Item Quickswap in <cite>A Link to the Past</cite> based on a [contribution] 
   that never made it in;
 - More logic customization options;
 - Sprites made by members of [Diabetus’](https://twitch.tv/the_betus) community and others:

   <div class="image-gallery pixelart">
       <img src="/images/smz3/sm-novolin.png" 
               alt="Captain Novolin in Super Metroid" 
               title="Captain Novolin in Super Metroid, made by PaddyCo">
       <img src="/images/smz3/z3-novolin.png" 
               alt="Captain Novolin in A Link to the Past" 
               title="Captain Novolin in A Link to the Past, made by Fragger">
       <img src="/images/smz3/sm-rash.png" 
               alt="Rash in Super Metroid" 
               title="Rash in Super Metroid, made by Fragger">
   </div>

The <b>Cas’ Randomizer</b> is currently in active development and can be found 
on GitHub at [Vivelin/SMZ3Randomizer](https://github.com/Vivelin/SMZ3Randomizer).

## Credits
- **Captain Novolin** replacement sprite for _Super Metroid_ by PaddyCo
- **Rash** replacement sprite for _Super Metroid_ by Fragger
- **Captain Novolin** replacement sprite for _A Link to the Past_ by Fragger
- **Non-Binary** Samus sprite for _Super Metroid_ by Glove
- **Trans** Samus sprite for _Super Metroid_ by TarThoron
- **Shaktool** and **Shaktool Jr.** Samus sprites for _Super Metroid_ by Pneumatic

The original repository can be found at <https://github.com/tewtal/SMZ3Randomizer>.

[contribution]: https://github.com/tewtal/alttp_sm_combo_randomizer_rom/pull/55
[GitHub releases]: https://github.com/Vivelin/SMZ3Randomizer/releases
</pre>
